/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CFC3BD;
  font-family: 'Poppins', sans-serif;
  color: #4C312A;
}

/* CONTAINER */
.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px;
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  background: #4C312A;
}

.nav-inner {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Boogaloo';
  color: white;
  font-size: 28px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  font-family: 'Alatsi';
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.menu a.active {
  color: #FFD54F;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #FFD54F;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

.profile {
  width: 36px;
  cursor: pointer;
}

/* BUTTON GLOBAL */
.btn {
  padding: 12px 26px;
  background: #4C312A;
  color: white;
  border: none;
  border-radius: 12px;
  font-family: 'Alatsi';
  cursor: pointer;
}

/* INPUT GLOBAL */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #4C312A;
  border-radius: 6px;
  background: transparent;
  font-family: 'Poppins';
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  font-size: 12px;
}