/* =========================
   RESET
========================= */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */

body{
  background: #CFC3BD;
  font-family: 'Poppins', sans-serif;
  color: #4C312A;
}

/* =========================
   CONTAINER
========================= */

.container{
  max-width: 1440px;
  margin: auto;
  padding: 0 60px;
}

/* =========================
   NAVBAR
========================= */

.navbar{
  width: 100%;
  background: #4C312A;
}

.nav-inner{
  max-width: 1440px;

  height: 80px;

  margin: auto;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo{
  font-family: 'Boogaloo', cursive;
  font-size: 28px;

  color: white;
}

/* MENU */

.menu{
  display: flex;
  gap: 40px;
}

/* MENU LINK */

.menu a{
  position: relative;

  font-family: 'Alatsi', sans-serif;
  font-size: 16px;

  color: white;
  text-decoration: none;

  padding-bottom: 6px;

  transition: 0.25s ease;
}

/* GARIS BAWAH */

.menu a::after{
  content: "";

  position: absolute;

  left: 0;
  bottom: -4px;

  width: 0%;
  height: 3px;

  background: #FFD54F;

  border-radius: 10px;

  transition: 0.3s ease;
}

/* HOVER */

.menu a:hover{
  color: #FFD54F;
}

.menu a:hover::after{
  width: 100%;
}

/* ACTIVE */

.menu a.active{
  color: #FFD54F;
}

/* ACTIVE TANPA GARIS */

.menu a.active::after{
  width: 0;
}

/* PROFILE */

.profile{
  width: 36px;
  cursor: pointer;
}

/* =========================
   BUTTON GLOBAL
========================= */

.btn{
  padding: 12px 26px;

  border: none;
  border-radius: 12px;

  background: #4C312A;
  color: white;

  font-family: 'Alatsi', sans-serif;
  font-size: 16px;

  cursor: pointer;

  transition: 0.25s ease;
}

.btn:hover{
  background: #3A241F;
  transform: translateY(-2px);
}

/* =========================
   INPUT GLOBAL
========================= */

input,
textarea{
  width: 100%;

  padding: 10px;

  border: 1px solid #4C312A;
  border-radius: 6px;

  background: transparent;

  font-family: 'Poppins', sans-serif;
}

/* =========================
   FOOTER
========================= */

footer{
  text-align: center;

  padding: 30px;

  font-size: 12px;
  line-height: 24px;
}