.article-section{
  width: 100%;
  max-width: 1100px;

  margin: auto;

  padding:
  60px
  20px
  100px;
}

/* TITLE */

.article-title-box{
  border: 1.5px solid #6E5146;

  padding:
  22px
  30px;

  margin-bottom: 50px;
}

.article-title-box h1{
  font-family: 'Boogaloo', cursive;

  font-size: 56px;
  font-weight: 400;

  line-height: 65px;

  color: #4C312A;

  text-align: center;
}

/* LINE */

.article-line{
  width: 85%;
  height: 1px;

  background: #7A625A;

  margin:
  0 auto
  50px;
}

/* IMAGE */

.article-image-wrap{
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.article-image{
  width: 100%;
  max-width: 850px;

  border-radius: 24px;

  display: block;
}

/* CONTENT */

.article-content{
  width: 100%;
  max-width: 850px;

  margin: auto;
}

.article-content p{
  font-family: 'Poppins', sans-serif;

  font-size: 20px;

  line-height: 40px;

  color: #4C312A;

  text-align: justify;

  margin-bottom: 35px;
}